*build*/*
!buildScripts/*

buildScripts/linuxDebian/packages/*
!buildScripts/linuxDebian/packages/README.md

src/thirdparty/clang/*
!src/thirdparty/clang/README.md

install_dir/*
install/*
**/*.cxx
**/*.hxx

src/builds
src/build
autoBuild_*

examples/**/build
**/*.user

CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
_deps
.cache
.vscode
